<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'style.css'%}">
</head>

<body>
    <form action="/" method="POST">
        {% csrf_token %}
        <div>
            <h2>Welcome to great number game</h2>
            <p>I am thinking of a number between 1 to 100</p>
        </div>
        {% if result == 1 %}
        <div class="success box">
            <p>{{user_result}} was the number</p>
            <button type="submit" name="play_again">Paly again</button>
        </div>
        {% elif result == 2%}
        <div class="hi box">Too High</div>
        {%elif result == 3%}
        <div class="low box">Too Low</div>
        {%endif%}
        <input type="number" name="user_number" />
        <button type="submit" name="play">Submit</button>
    </form>
</body>

</html>