<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/result" method="GET">
      {%csrf_token%}
      <div class="group-input">
        <label>Name </label> <input type="text" name="name" />
      </div>
      <div class="group-input">
        <label>Dojo Location</label>
        <select name="location">
          <option value="San Francisco">San Francisco</option>
        </select>
      </div>

      <div class="group-input">
        <label>Favoriate Language</label>
        <select name="lang">
          <option value="python">Python</option>
          <option value="javascript">Javascript</option>
        </select>
      </div>
      <div class="group-input">
        <label>Are you sure with your answers?</label>
        <input type="checkbox" name="check" />
      </div>
      <br />
      <button type="submit">Create New User</button>
    </form>
  </body>
</html>
