* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
}
form {
  background: #fff;
  max-width: 400px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 50px 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.group-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.group-input input,
select,
button {
  width: 160px;
  padding: 5px;
}

.info {
  background: #fff;
  max-width: 400px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 50px 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info-content {
  display: flex;
  justify-content: flex-start;
}
.info-content p {
  margin-right: 40px;
}
